
    input{
        border: 1px solid black;
        width: 150rpx;
        margin: 10rpx;
        border-radius: 10rpx;
        text-align: center;
    }
    
    
    .frame{
        display: flex;
        justify-content:space-between;
    }
    
    .chang{
        flex: 1.6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .chang input{
        width: 150rpx;
    }
    
    .bigImg{
        flex: 9; 
        margin-left: 30rpx;
        margin-right: 10rpx;
        display: flex;
        flex-direction: column;
        justify-content: start
    }
    .swiper{
        /* background-color: #e1251b; */
    }
    .bigImg image{
        width: 100%;
        height: 100%;
        border-radius: 30rpx; 
    }
    
    .priceBox{
        flex: 2;
    }
    .price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 500rpx;
        right: 10rpx;
        border: #666 solid 2rpx;
        border-radius: 30rpx;
        padding: 10rpx;
        background-color: #fff;
    }
    
    .kuan{
        /* width: 200rpx; */
        display: flex;
        justify-content: space-between;
        /* text-align: center; */
    }
    .smallImgBox{
        display: flex;
        justify-content:start;
        flex-wrap:wrap;
    }
    .smallImg{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 20rpx;
        font-size: 24rpx;
        border: #666 solid 3rpx;
    }
    
    .smallImg image{
        width: 150rpx;
        height: 150rpx;
        
    }
    .active{
        border: 3rpx solid #e1251b;
    }
    
    .xuanxiang{
        display: flex;
        justify-content: start;
        flex-wrap:wrap;
        position: relative;
        /* margin-bottom: 20rpx; */
    }
    .xuanxiang image{
        visibility:hidden;
        display: inline;
        position: absolute;
        width: 30%;
        top: -240rpx;
        margin-right: 50rpx;
    }
    .xuanxiang .imgVisible{
        visibility: visible;
    }
    .xuanxiang .word{
       /* display: inline-block; */
        border: 3rpx solid #666;
        border-radius: 6rpx;
        font-size: 23rpx;
        padding: 5rpx;
        margin: 20rpx;
        /* height: 0rpx; */

    }
    .xuanxiang .active{
        border: 3rpx solid #e1251b;
    }
    
    .stepper{
        font-size: 40rpx;
        width: 600rpx;
        margin: 0 auto;
    }
    .stepper text{
        padding: 3rpx 20rpx 3rpx 20rpx;
        border: solid 2rpx #666;
        border-radius: 10rpx;
        margin: 5rpx;
    }
    
    .content{
        margin-left: 20rpx;
    }
    
    .orderCar{
        height: 60rpx;
        display: flex;
        margin-top: 40rpx;
        text-align: center;
        line-height: 60rpx;
        height: 100rpx;
    }
    .order{
        height: 60rpx;
        flex: 4;
        border: 2rpx solid #666;
        border-radius: 5rpx;
        background-color: #e1251b;
        color: #fff;
        height: 100rpx;
    }
    .addCar{   
        height: 60rpx;
        flex: 1;
        border: 2rpx solid #666;
        border-radius: 5rpx;
        background-color: #e1251b;
        color: #fff;
        height: 100rpx;
    }
    .im{
        position: fixed;
        top: 0rpx;
        left: 300rpx;
        /* border: 2rpx solid #666; */
        width: 30%;
    }

    .nav{
        margin-top: 40rpx;
    }
    .url{
        border: 1rpx solid cornflowerblue;
        font-size: 22rpx;
        margin-bottom: 10rpx;
        width: 190rpx;
        height: 40rpx;
        border-radius: 15rpx;
        text-align: left;

    }
    .bg {
        height: 100%;
        width: 100%; 
      }